<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eatda"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".sponsor.SponsorHelp"
            android:exported="false" />
        <activity
            android:name=".sponsor.Support"
            android:exported="false" />
        <activity
            android:name=".sponsor.ChildMgmt"
            android:exported="false" />
        <activity
            android:name=".sponsor.ChildList"
            android:exported="false" />
        <activity
            android:name=".sponsor.SponsorMyPage"
            android:exported="false" />
        <activity
            android:name=".president.RestaurantAdd"
            android:exported="false" />
        <activity
            android:name=".president.RestaurantsMgmt"
            android:exported="false" />
        <activity
            android:name=".president.MenuMgmt"
            android:exported="false" />
        <activity
            android:name=".president.PresidentHelp"
            android:exported="false" />
        <activity
            android:name=".president.PresidentMyPage"
            android:exported="false" />
        <activity
            android:name=".PermissionBasedMyPage"
            android:exported="false" />
        <activity
            android:name=".child.ChildMyReviewList"
            android:exported="false" />
        <activity
            android:name=".child.ChildMyPage"
            android:exported="false" />
        <activity
            android:name=".child.ChildHelp"
            android:exported="false" />
        <activity
            android:name=".child.ChildBuyList"
            android:exported="false" />
        <activity
            android:name=".home.MyLocationMap"
            android:exported="false" />
        <activity
            android:name=".home.RestaurantInfo"
            android:exported="false" />
        <activity
            android:name=".child.ChildCardJoin"
            android:exported="false" />
        <activity
            android:name=".home.SearchText"
            android:exported="false" />
        <activity
            android:name=".sponsor.SponsorJoin"
            android:exported="false" />
        <activity
            android:name=".president.PresidentJoin"
            android:exported="false" />
        <activity
            android:name=".child.ChildJoin"
            android:exported="false" />
        <activity
            android:name=".Join"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".home.Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>