<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eatda"
    xmlns:tools="http://schemas.android.com/tools">

    <!--위치정보 사용 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 갤러리 권한 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--백그라운드 작동 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eatda"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- FireBase -->
        <service android:name=".fireBaseMessagingService.FireBaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- Google Map API Key 설정 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7KkQiQ8k0Gwxl06EFKz5Pq_YQQTskn6U" />
        <activity
            android:name=".ui.kakaomap.MyLocationMap"
            android:exported="false" />
        <activity
            android:name=".ui.home.SearchButton"
            android:exported="false" />
        <activity
            android:name=".ui.restaurant.RestaurantDetail"
            android:exported="false" />
        <activity
            android:name=".ui.restaurant.RestaurantModify"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuModify"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuAdd"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.SponsorHelp"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.Support"
            android:exported="false" />
        <activity
            android:name=".ui.childManagement.ChildMgmt"
            android:exported="false" />
        <activity
            android:name=".ui.childManagement.ChildList"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.SponsorMyPage"
            android:exported="false" />
        <activity
            android:name=".ui.restaurant.RestaurantAdd"
            android:exported="false" />
        <activity
            android:name=".ui.restaurant.RestaurantsMgmt"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuMgmt"
            android:exported="false" />
        <activity
            android:name=".ui.president.PresidentHelp"
            android:exported="false" />
        <activity
            android:name=".ui.president.PresidentMyPage"
            android:exported="false" />
        <activity
            android:name=".ui.PermissionBasedMyPage"
            android:exported="false" />
        <activity
            android:name=".ui.review.ChildMyReviewList"
            android:exported="false" />
        <activity
            android:name=".ui.child.ChildMyPage"
            android:exported="false" />
        <activity
            android:name=".ui.child.ChildHelp"
            android:exported="false" />
        <activity
            android:name=".ui.child.ChildBuyList"
            android:exported="false" />
        <activity
            android:name=".ui.home.RestaurantInfo"
            android:exported="false" />
        <activity
            android:name=".ui.child.ChildCardJoin"
            android:exported="false" />
        <activity
            android:name=".ui.home.SearchText"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.SponsorJoin"
            android:exported="false" />
        <activity
            android:name=".ui.president.PresidentJoin"
            android:exported="false" />
        <activity
            android:name=".ui.child.ChildJoin"
            android:exported="false" />
        <activity
            android:name=".ui.Join"
            android:exported="false" />
        <activity
            android:name=".ui.Login"
            android:exported="false" />
        <activity
            android:name=".ui.home.Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>